
body{
    display: flex;
    
   
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.34) 0%, rgba(0, 0, 0, 0.34) 100%), url('./image/zyro-image.png'), lightgray 50% / cover no-repeat;
    background-size: 100% ;
}



.background_apple{
    display: flex


 
    

}
