#section2 {
    display: flex;
    position:static;


    height: 100%;
    margin-block-start: 680px;
    
    
    background-color: black;
    
  }


  @media (max-width: 1200px){
    #section2{
        height: 100%;
        margin-block-start: 836px;
       
    }
}